// Fonts
$font-size-default: 16px;
$font-family-primary: 'Rajdhani', sans-serif;
$font-family-secondary: 'Quicksand', sans-serif;

// Colors
$color-dark: #0D0043;
$color-light: #EBF3FF;
$color-primary: #10428E;
$color-primary-gradient: linear-gradient($color-primary, $color-dark);
$color-secondary: #FFE270;
$color-gray: #525252;

// Other
$site-max-width: 1200px;
$gutter: 15px;