{{ $url := urls.Parse .Site.BaseURL }}
$baseURL: "{{ $url.Path }}";

@import "settings";
@import "mixins";
@import "rem";
@import "bootstrap";

@import "bootstrap/scss/forms";

@import "partials/page-header.scss";
@import "partials/page-body.scss";
@import "partials/filter.scss";
@import "partials/listing.scss";

.listing {
    &__items {
        position: relative;
        &::before {
            content: ' ';
            position: absolute;
            top: 0;
            left: rem(45px);
            height: 100%;
            font-size: 0;
            border-left: 1px solid $color-primary;
            @include media-breakpoint-up(md) { left: rem(60px); }
        }
    }
    &__item { flex-direction: row; }
    &__main-section { margin-left: rem($gutter*2); }
}