{{ $url := urls.Parse .Site.BaseURL }}
$baseURL: "{{ $url.Path }}";

@import "settings";
@import "mixins/btn";
@import "mixins/link";
@import "mixins/pattern";
@import "mixins/text";
@import "mixins/title";
@import "rem";
@import "bootstrap";

@import "partials/hero";
@import "partials/numbers";

.numbers {
    margin-top: rem(24px);
    @include media-breakpoint-up(lg) {
        margin-top: rem(96px);
    }
}