{{ $url := urls.Parse .Site.BaseURL }}
$baseURL: "{{ $url.Path }}";

@import "settings";
@import "mixins";
@import "rem";
@import "bootstrap";

@import "partials/hero";
@import "partials/numbers";
@import "partials/latest-news";

.numbers {
    margin-top: rem(48px);
    @include media-breakpoint-up(lg) { margin-top: rem(96px); }
}

.latest-news {
    margin-top: rem(56px);
    @include media-breakpoint-up(md) { margin-top: rem(96px); }
    @include media-breakpoint-up(lg) { margin-top: rem(120px); }
}