$baseURL: "{{ .Site.BaseURL }}";

@import "settings";
@import "mixins/btn";
@import "mixins/link";
@import "mixins/pattern";
@import "mixins/text";
@import "mixins/title";
@import "rem";
@import "bootstrap";

@import "bootstrap/scss/reboot";

body {
    font-size: 16px;
}

a {
    &:focus {
        outline-width: 1px;
        outline-offset: rem(8px);
        outline-style: dashed;
    }
}

button {
    background-color: transparent;
    &:hover {
        text-decoration: underline;
    }
}

@import "partials/site-header";
@import "partials/site-footer";
