{{ $url := urls.Parse .Site.BaseURL }}
$baseURL: "{{ $url.Path }}";

@import "settings";
@import "mixins";
@import "rem";
@import "bootstrap";

@import "bootstrap/scss/forms";
@import "bootstrap/scss/custom-forms";

@import "partials/page-header.scss";
@import "partials/page-body.scss";
@import "partials/filter.scss";
@import "partials/listing.scss";

.listing {
    &__item { flex-direction: row; }
    &__image {
        width: rem(90px);
        border-radius: 100%;
        @include media-breakpoint-up(md) { width: rem(120px); }
    }
    &__main-section { margin-left: rem($gutter*2); }
}