.hero {
  padding-top: 2rem;
  background-color: #10428E;
  background-image: linear-gradient(#10428E, #0D0043);
}

.hero__row {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.hero__row:nth-of-type(4) {
  height: 96px;
}

@media (min-width: 992px) {
  .hero__row:nth-of-type(4) {
    display: none;
  }
}

.hero__row:last-of-type {
  display: block;
  max-width: 1170px;
  margin: 0 auto;
}

.hero__column {
  flex-grow: 1;
}

.hero__column:first-of-type, .hero__column:last-of-type {
  display: none;
}

@media (min-width: 992px) {
  .hero__column:first-of-type, .hero__column:last-of-type {
    display: block;
  }
}

.hero__column:nth-of-type(2) {
  max-width: 1200px;
}

.hero__pattern {
  background-image: radial-gradient(rgba(235, 243, 255, 0.8), rgba(235, 243, 255, 0.8) 0.03125rem, transparent 0.09375rem, transparent);
  background-size: 1.5625rem 1.5625rem;
  background-position: center;
  display: block;
  width: 100%;
  height: 100%;
}

.hero__title, .hero__description {
  max-width: 58.75rem;
  padding: 0 0.9375rem;
  margin: 0 auto;
}

.hero__title {
  font-family: "Rajdhani", sans-serif;
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 2.25rem;
  text-align: center;
  color: #EBF3FF;
  margin-bottom: 0.25rem;
}

@media (min-width: 576px) {
  .hero__title {
    font-size: 2.5rem;
    line-height: 2.5rem;
    margin-bottom: 0.5rem;
    padding: 0 1.875rem;
  }
}

@media (min-width: 768px) {
  .hero__title {
    font-size: 3rem;
    line-height: 3rem;
    margin-bottom: 0.75rem;
    padding: 0 3.75rem;
  }
}

@media (min-width: 992px) {
  .hero__title {
    font-size: 4rem;
    line-height: 4rem;
    margin-bottom: 1.5rem;
  }
}

.hero__description {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 150%;
  color: #EBF3FF;
  text-align: center;
  margin: 0.25rem auto;
}

@media (min-width: 768px) {
  .hero__description {
    font-size: 0.9375rem;
  }
}

@media (min-width: 992px) {
  .hero__description {
    font-size: 1rem;
  }
}

@media (min-width: 992px) {
  .hero__description {
    margin: 1.5rem auto;
    padding: 0 1.875rem;
  }
}

.hero__button {
  position: relative;
  display: inline-block;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  letter-spacing: 0.04em;
  white-space: nowrap;
  border-radius: 3.125rem;
  color: #10428E;
  border: 1px solid #FFE270;
  background-color: #FFE270;
  padding: 0.5rem 1rem;
  line-height: 0.875rem;
  font-size: 0.875rem;
  margin-top: 2rem;
  margin-bottom: 1.25rem;
}

.hero__button:focus {
  outline-width: 1.5px;
  outline-offset: 1.5px;
  outline-style: dashed;
  text-decoration: underline;
}

.hero__button > .btn__icon {
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  vertical-align: bottom;
}

.hero__button:hover {
  color: #10428E;
  border: 1px solid #FFE270;
  background-color: #FFE270;
}

.hero__button:focus {
  outline-color: #FFE270;
}

.hero__button > .btn__icon {
  margin-left: 0.5rem;
  height: 0.875rem;
  width: 0.875rem;
}

@media (min-width: 992px) {
  .hero__button {
    padding: 0.625rem 1.25rem;
    line-height: 1rem;
    font-size: 1rem;
    margin-top: 1.5rem;
    margin-bottom: 0;
  }
  .hero__button > .btn__icon {
    margin-left: 0.625rem;
    height: 1rem;
    width: 1rem;
  }
}

.hero__button::after {
  content: ' ';
  position: absolute;
  top: -11px;
  left: -11px;
  font-size: 0;
  width: calc(100% + 11px);
  height: calc(100% + 22px);
  background-image: url("/concept-work/images/circuit-1.svg"), url("/concept-work/images/circuit-2.svg"), url("/concept-work/images/circuit-3.svg");
  background-position: 25px 0, 85% bottom, 0 50%;
  background-size: 26px 11px, 18px 11px, 11px 12px;
  background-repeat: no-repeat;
}

.hero__image {
  width: 100%;
  height: auto;
}

@media (min-width: 992px) {
  .hero__image {
    position: relative;
    bottom: -3rem;
  }
}

.numbers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1200px;
  margin: 0 auto;
}

.numbers__item, .numbers__count, .numbers__description, .numbers__icon {
  margin: 0;
  padding: 0;
}

.numbers__item {
  text-align: center;
  margin-bottom: 0.75rem;
  width: 7.5rem;
}

@media (min-width: 576px) {
  .numbers__item {
    width: 12.5rem;
  }
}

@media (min-width: 768px) {
  .numbers__item {
    width: 7.5rem;
  }
}

@media (min-width: 992px) {
  .numbers__item {
    width: 10.25rem;
  }
}

.numbers__count {
  color: #0D0043;
  font-family: "Rajdhani", sans-serif;
  font-weight: 700;
  font-size: 2rem;
}

@media (min-width: 768px) {
  .numbers__count {
    font-size: 3rem;
  }
}

@media (min-width: 992px) {
  .numbers__count {
    font-size: 4rem;
  }
}

.numbers__description {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 150%;
  color: #0D0043;
  font-size: 0.875rem;
}

@media (min-width: 768px) {
  .numbers__description {
    font-size: 0.9375rem;
  }
}

@media (min-width: 992px) {
  .numbers__description {
    font-size: 1rem;
  }
}

@media (min-width: 992px) {
  .numbers__description {
    font-size: 1rem;
  }
}

.numbers__icon {
  width: 3.5rem;
  height: 3.5rem;
}

@media (min-width: 992px) {
  .numbers__icon {
    width: 5rem;
    height: 5rem;
  }
}

.latest-news {
  display: block;
  margin: 0 auto;
  padding: 0;
  max-width: 1200px;
  text-align: center;
}

@media (min-width: 768px) {
  .latest-news {
    padding: 0 0.9375rem;
  }
}

.latest-news__heading {
  display: block;
  font-family: "Rajdhani", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  color: #0D0043;
  margin-bottom: 2.625rem;
}

@media (min-width: 768px) {
  .latest-news__heading {
    font-size: 1.875rem;
  }
}

@media (min-width: 992px) {
  .latest-news__heading {
    font-size: 2.25rem;
  }
}

@media (min-width: 768px) {
  .latest-news__heading {
    margin-bottom: 3.5rem;
  }
}

.latest-news__heading::after {
  content: " ";
  display: block;
  font-size: 0;
  width: 1rem;
  height: 0.5rem;
  margin: 0 auto;
  margin-top: 1rem;
  background-image: url("/concept-work/images/icon-half-circle--dark.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.latest-news__items, .latest-news__link, .latest-news__image, .latest-news__title, .latest-news__date, .latest-news__in, .latest-news__categories {
  margin: 0;
  padding: 0;
  display: block;
}

.latest-news__title, .latest-news__date, .latest-news__in, .latest-news__categories {
  padding: 0 0.9375rem;
}

@media (min-width: 768px) {
  .latest-news__title, .latest-news__date, .latest-news__in, .latest-news__categories {
    padding: 0;
  }
}

.latest-news__items, .latest-news__categories {
  list-style: none;
}

.latest-news__items {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

@media (min-width: 576px) {
  .latest-news__items {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.latest-news__item {
  align-self: flex-start;
  text-align: left;
  margin-bottom: 3rem;
  max-width: 20.625rem;
}

@media (min-width: 576px) {
  .latest-news__item {
    max-width: 16rem;
  }
}

@media (min-width: 768px) {
  .latest-news__item {
    margin-bottom: 3.5rem;
    max-width: 18.5rem;
  }
}

@media (min-width: 1200px) {
  .latest-news__item {
    max-width: 22.375rem;
  }
}

.latest-news__item:nth-of-type(even) {
  align-self: flex-end;
}

@media (min-width: 576px) {
  .latest-news__item:nth-of-type(even) {
    align-self: flex-start;
  }
}

.latest-news__link {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  text-decoration: underline;
  letter-spacing: 0.04em;
  color: #10428E;
}

.latest-news__link--selected {
  font-weight: 400;
  text-decoration: none;
}

.latest-news__link--selected:hover {
  text-decoration: none;
  cursor: default;
}

.latest-news__link:hover, .latest-news__link:focus, .latest-news__link--selected {
  color: #0D0043;
}

.latest-news__image {
  width: 100%;
  height: auto;
}

.latest-news__title {
  margin-top: 1rem;
  font-size: 1.25rem;
}

@media (min-width: 768px) {
  .latest-news__title {
    font-size: 1.5rem;
  }
}

.latest-news__date, .latest-news__in {
  font-family: "Quicksand", sans-serif;
  margin-top: 0.5rem;
  color: #525252;
}

.latest-news__date {
  font-size: 0.875rem;
  font-weight: 500;
}

@media (min-width: 768px) {
  .latest-news__date {
    font-size: 1rem;
  }
}

.latest-news__in {
  font-size: 0.625rem;
  font-weight: 400;
}

@media (min-width: 768px) {
  .latest-news__in {
    font-size: 0.75rem;
  }
}

.latest-news__categories {
  margin-top: 1rem;
}

.latest-news__category {
  display: inline-block;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size: 0.625rem;
  line-height: 0.5rem;
  letter-spacing: 0.04em;
  padding: 0.375rem 0.5rem;
  border-radius: 1rem;
  text-transform: uppercase;
  background-color: rgba(13, 0, 67, 0.1);
  color: #0D0043;
}

@media (min-width: 768px) {
  .latest-news__category {
    font-size: 0.625rem;
  }
}

.latest-news__more-news-btn {
  display: inline-block;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  letter-spacing: 0.04em;
  white-space: nowrap;
  border-radius: 3.125rem;
  color: #10428E;
  border: 1px solid #10428E;
  padding: 0.5rem 1rem;
  line-height: 0.875rem;
  font-size: 0.875rem;
}

.latest-news__more-news-btn:focus {
  outline-width: 1.5px;
  outline-offset: 1.5px;
  outline-style: dashed;
  text-decoration: underline;
}

.latest-news__more-news-btn > .btn__icon {
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  vertical-align: bottom;
}

.latest-news__more-news-btn:hover {
  color: #10428E;
  border: 1px solid #10428E;
}

.latest-news__more-news-btn:focus {
  outline-color: #10428E;
}

.latest-news__more-news-btn > .btn__icon {
  margin-left: 0.5rem;
  height: 0.875rem;
  width: 0.875rem;
}

.latest-news__more-news-btn > .btn__icon {
  background-image: url("/concept-work/images/icon-forward--primary.svg");
}

@media (min-width: 768px) {
  .latest-news__more-news-btn {
    padding: 0.625rem 1.25rem;
    line-height: 1rem;
    font-size: 1rem;
  }
  .latest-news__more-news-btn > .btn__icon {
    margin-left: 0.625rem;
    height: 1rem;
    width: 1rem;
  }
}

.numbers {
  margin-top: 3rem;
}

@media (min-width: 992px) {
  .numbers {
    margin-top: 6rem;
  }
}

.latest-news {
  margin-top: 3.5rem;
}

@media (min-width: 768px) {
  .latest-news {
    margin-top: 6rem;
  }
}

@media (min-width: 992px) {
  .latest-news {
    margin-top: 7.5rem;
  }
}
