.hero {
  padding-top: 2rem;
  background-color: #10428E;
  background-image: linear-gradient(#10428E, #0D0043);
}

.hero__row {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.hero__row:nth-of-type(4) {
  height: 96px;
}

@media (min-width: 992px) {
  .hero__row:nth-of-type(4) {
    display: none;
  }
}

.hero__row:last-of-type {
  display: block;
  max-width: 1170px;
  margin: 0 auto;
}

.hero__column {
  flex-grow: 1;
}

.hero__column:first-of-type, .hero__column:last-of-type {
  display: none;
}

@media (min-width: 992px) {
  .hero__column:first-of-type, .hero__column:last-of-type {
    display: block;
  }
}

.hero__column:nth-of-type(2) {
  max-width: 1200px;
}

.hero__graphic {
  background-image: radial-gradient(rgba(235, 243, 255, 0.8), rgba(235, 243, 255, 0.8) 0.03125rem, transparent 0.09375rem, transparent);
  background-size: 1.5625rem 1.5625rem;
  background-position: center;
  display: block;
  width: 100%;
  height: 100%;
}

.hero__title, .hero__description {
  max-width: 58.75rem;
  padding: 0 0.9375rem;
  margin: 0 auto;
}

.hero__title {
  font-family: "Rajdhani", sans-serif;
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 2.25rem;
  text-align: center;
  color: #EBF3FF;
  margin-bottom: 0.25rem;
}

@media (min-width: 576px) {
  .hero__title {
    font-size: 2.5rem;
    line-height: 2.5rem;
    margin-bottom: 0.5rem;
    padding: 0 1.875rem;
  }
}

@media (min-width: 768px) {
  .hero__title {
    font-size: 3rem;
    line-height: 3rem;
    margin-bottom: 0.75rem;
    padding: 0 3.75rem;
  }
}

@media (min-width: 992px) {
  .hero__title {
    font-size: 4rem;
    line-height: 4rem;
    margin-bottom: 1.5rem;
  }
}

.hero__description {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  color: #EBF3FF;
  text-align: center;
  margin: 0.25rem auto;
}

@media (min-width: 768px) {
  .hero__description {
    font-size: 0.9375rem;
  }
}

@media (min-width: 992px) {
  .hero__description {
    font-size: 1rem;
  }
}

@media (min-width: 992px) {
  .hero__description {
    margin: 1.5rem auto;
    padding: 0 1.875rem;
  }
}

.hero__button {
  display: inline-block;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  letter-spacing: 0.04em;
  white-space: nowrap;
  border-radius: 3.125rem;
  color: #10428E;
  border: 1px solid #FFE270;
  background-color: #FFE270;
  padding: 0.5rem 1rem;
  line-height: 0.875rem;
  font-size: 0.875rem;
  margin-top: 2rem;
  margin-bottom: 1.25rem;
}

.hero__button:focus {
  outline-width: 1px;
  outline-offset: 0.5rem;
  outline-style: dashed;
  text-decoration: underline;
}

.hero__button > .btn__icon {
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  vertical-align: bottom;
}

.hero__button:hover {
  color: #10428E;
  border: 1px solid #FFE270;
  background-color: #FFE270;
}

.hero__button:focus {
  outline-color: #FFE270;
}

.hero__button > .btn__icon {
  margin-left: 0.5rem;
  height: 0.875rem;
  width: 0.875rem;
}

@media (min-width: 992px) {
  .hero__button {
    padding: 0.625rem 1.25rem;
    line-height: 1rem;
    font-size: 1rem;
    margin-top: 1.5rem;
    margin-bottom: 0;
  }
  .hero__button > .btn__icon {
    margin-left: 0.625rem;
    height: 1rem;
    width: 1rem;
  }
}

.hero__image {
  width: 100%;
  height: auto;
}

@media (min-width: 992px) {
  .hero__image {
    position: relative;
    bottom: -3rem;
  }
}
