@mixin btn {
    display: inline-block;
    font-family: $font-family-secondary;
    font-weight: 700;
    letter-spacing: 0.04em;
    white-space: nowrap;
    border-radius: rem(50px);
    @include focus;
    > .btn__icon {
        display: inline-block;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        vertical-align: bottom;
    }
}

@mixin btn--primary {
    color: $color-secondary;
    border: 1px solid $color-primary;
    background-color: $color-primary;
    &:hover {
        color: $color-secondary;
        border: 1px solid $color-primary;
        background-color: $color-primary;
    }
    &:focus { outline-color: $color-primary; }
}

@mixin btn--primary-hollow {
    color: $color-primary;
    border: 1px solid $color-primary;
    &:hover {
        color: $color-primary;
        border: 1px solid $color-primary;
    }
    &:focus { outline-color: $color-primary; }
}

@mixin btn--secondary {
    color: $color-primary;
    border: 1px solid $color-secondary;
    background-color: $color-secondary;
    &:hover {
        color: $color-primary;
        border: 1px solid $color-secondary;
        background-color: $color-secondary;
    }
    &:focus { outline-color: $color-secondary; }
}

@mixin btn--secondary-hollow {
    color: $color-secondary;
    border: 1px solid $color-secondary;
    &:hover {
        color: $color-secondary;
        border: 1px solid $color-secondary;
    }
    &:focus { outline-color: $color-secondary; }
}

@mixin btn--sm {
    padding: rem(6px) rem(12px);
    line-height: rem(12px);
    font-size: rem(12px);
    > .btn__icon {
        margin-left: rem(6px);
        height: rem(12px);
        width: rem(12px);
    }
}

@mixin btn--md {
    padding: rem(8px) rem(16px);
    line-height: rem(14px);
    font-size: rem(14px);
    > .btn__icon {
        margin-left: rem(8px);
        height: rem(14px);
        width: rem(14px);
    }
}

@mixin btn--lg {
    padding: rem(10px) rem(20px);
    line-height: rem(16px);
    font-size: rem(16px);
    > .btn__icon {
        margin-left: rem(10px);
        height: rem(16px);
        width: rem(16px);
    }
}

@mixin btn--icon-left {
    > .btn__icon {
        margin-left: 0;
        margin-right: rem(8px);
    }
}

@mixin btn--icon-right {
    > .btn__icon {
        margin-left: rem(8px);
        margin-right: 0;
    }
}

@mixin btn--icon($url) {
    > .btn__icon { background-image: url($url); }
}

@mixin btn--techy {
    &::after {
        content: ' ';
        position: absolute;
        top: -11px;
        left: -11px;
        font-size: 0;
        width: calc(100% + 11px);
        height: calc(100% + 22px);
        background-image: 
            url($baseURL + "images/circuit-1.svg"),
            url($baseURL + "images/circuit-2.svg"),
            url($baseURL + "images/circuit-3.svg");
        background-position:
            25px 0,
            85% bottom,
            0 50%;
        background-size:
            26px 11px,
            18px 11px,
            11px 12px;
        background-repeat: no-repeat;
    }
}