@mixin category {
    display: inline-block;
    font-family: $font-family-secondary;
    font-weight: 700;
    font-size: rem(10px);
    line-height: rem(8px);
    letter-spacing: 0.04em;
    padding: rem(6px) rem(8px);
    border-radius: rem(16px);
    text-transform: uppercase;
    @include media-breakpoint-up(md) { font-size: rem(10px); }
}

@mixin category--dark {
    background-color: rgba($color-dark, 0.1);
    color: $color-dark;
}