@mixin text-body {
    font-family: $font-family-secondary;
    font-weight: 500;
    font-size: rem(14px);
    line-height: 150%;
    @include media-breakpoint-up(md) { font-size: rem(15px); }
    @include media-breakpoint-up(lg) { font-size: rem(16px); }
}

@mixin text-body--dark { color: $color-dark; }

@mixin text-body--light { color: $color-light; }

@mixin text-body--primary { color: $color-primary; }

@mixin text-body--secondary { color: $color-secondary; }