{{ define "head-end" }}
    {{ partial "style" (dict "src" "newsletter" "asTmpl" .) }}
{{- end }}

{{ define "body-content" }}
<main>
    {{ partial "page-header" (dict "page_header" (dict "title" .Page.Title "description" .Page.Description "call_to_action" .Params.call_to_action) "ctx" .) }}
    <div class="page-body">
        <form class="page-form">
            <div class="page-form__row">
                <div class="form-group page-form__column">
                    <label for="name">{{ T "form_name" }} <span class="page-form__note">({{ T "form_required" }})</span></label>
                    <input id="name" type="text" class="form-control">
                </div>
                <div class="form-group page-form__column">
                    <label for="email">{{ T "form_email" }} <span class="page-form__note">({{ T "form_required" }})</span></label>
                    <input id="email" type="text" class="form-control">
                </div>
            </div>
            <div class="page-form__row">
                {{ range $opt := .Params.options -}}
                {{- $id := ($opt | urlize) -}}
                <div class="custom-control custom-checkbox page-form__inline-option">
                    <input class="custom-control-input" type="checkbox" value="" id="{{ $id }}">
                    <label class="custom-control-label" for="{{ $id }}">{{ $opt }}</label>
                </div>
                {{- end }}
            </div>
            {{ partial "page-form__accept" . }}
            <div class="page-form__row">
                <button class="page-form__submit-btn" type="submit">{{ T "newsletter_subscribe" }}<span class="btn__icon"></span></button>
            </div>
            <div class="page-form__row">
                <a class="page-form__link" href="{{ relref . "unsubscribe-from-newsletter" }}">{{ T "newsletter_unsubscribe" }}</a>
            </div>
        </form>
    </div>
</main>
{{- end }}