.call-to-action {
    width: 100%;
    display: block;
    text-align: center;
    padding: rem(20px) rem(16px);
    background-color: $color-secondary;
    @include media-breakpoint-up(md) {
        text-align: left;
        border-radius: rem(8px);
        padding: rem(30px);
    }
    &__description,
    &__button {
        margin: 0;
        padding: 0;
        font-size: 0;
    }
    &__description {
        @include text-body;
        @include text-body--dark;
        margin-bottom: rem(16px);
    }
    &__button {
        @include btn;
        @include btn--primary;
        @include btn--md;
        @include media-breakpoint-up(md) {
            @include btn--lg;
        }
        > .btn__icon {
            background-image: url($baseURL + "images/icon-forward--secondary.svg");
        }
    }
}