.latest-news {
    display: block;
    margin: 0 auto;
    padding: 0;
    max-width: $site-max-width;
    text-align: center;
    @include media-breakpoint-up(sm) { padding: 0 rem($gutter*2); }
    @include media-breakpoint-up(xl) { padding: 0; }
    &__heading {
        @include section-title;
        @include section-title--dark;
        margin-bottom: rem(42px);
        @include media-breakpoint-up(md) { margin-bottom: rem(56px); }
        &::after {
            content: " ";
            display: block;
            font-size: 0;
            width: rem(16px);
            height: rem(8px);
            margin: 0 auto;
            margin-top: rem(16px);
            background-image: url($baseURL + "images/icon-half-circle--dark.svg");
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
    &__items,
    &__link,
    &__image,
    &__title,
    &__date,
    &__in,
    &__categories {
        // Reset
        margin: 0;
        padding: 0;
        display: block;
    }
    &__title,
    &__date,
    &__in,
    &__categories {
        padding: 0 rem($gutter);
        @include media-breakpoint-up(sm) { padding: 0; }
    }
    &__items,
    &__categories {
        list-style: none;
    }
    &__items {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-bottom: rem($gutter);
        @include media-breakpoint-up(lg) {
            flex-direction: row;
            justify-content: space-around;
        }
    }
    &__item {
        display: flex;
        align-self: flex-start;
        flex-direction: column;
        max-width: rem(330px);
        margin-bottom: rem(48px);
        @include media-breakpoint-up(sm) { 
            flex-direction: row;
            max-width: 100%;
        }
        @include media-breakpoint-up(lg) { 
            flex-direction: column;
            width: rem(296px);
        }

        @include media-breakpoint-up(xl) { 
            width: rem(358px);
        }
        &:nth-of-type(even) {
            align-self: flex-end;
            @include media-breakpoint-up(sm) { 
                align-self: flex-start; 
            }
        }
    }
    &__section {
        &:first-of-type {
            @include media-breakpoint-up(sm) {
                flex-shrink: 0;
                width: rem(256px);
                margin-right: rem($gutter*2);
            }
            @include media-breakpoint-up(md) {
                width: rem(296px);
            }
            @include media-breakpoint-up(lg) {
                width: 100%;
            }
        }
        &:last-of-type {
            text-align: left;
            margin-top: rem(16px);
            @include media-breakpoint-up(sm) { margin-top: 0; }
            @include media-breakpoint-up(lg) { margin-top: rem(16px); }
        }
    }
    &__link {
        @include link;
        @include link--primary;
        @include link--xl;
    }
    &__image {
        width: 100%;
        height: auto;
    }
    // &__title {
    //     margin-top: rem(16px);
    // }
    &__date,
    &__in {
        font-family: $font-family-secondary;
        margin-top: rem(8px);
        color: #525252;
    }
    &__date {  
        font-size: rem(14px);
        font-weight: 500;
        @include media-breakpoint-up(md) { font-size: rem(16px); }
    }
    &__in {
        font-size: rem(10px);
        font-weight: 400;
        @include media-breakpoint-up(md) { font-size: rem(12px); }
    }
    &__categories {
        margin-top: rem(16px);
    }
    &__category {
        @include category;
        @include category--dark;
    }
    &__more-news-btn {
        @include btn;
        @include btn--primary-hollow;
        @include btn--md;
        @include btn--icon($baseURL + "images/icon-forward--primary.svg");
        @include media-breakpoint-up(md) { @include btn--lg; }
    }
}