<div class="hero">
    <div class="hero__row">
        <div class="hero__column">
            <span class="hero__graphic">&nbsp;</span>
        </div>
        <div class="hero__column">
            <h1 class="hero__title">{{ .title }}</h1>
        </div>
        <div class="hero__column">&nbsp;</div>
    </div>
    <div class="hero__row">
        <div class="hero__column">&nbsp;</div>
        <div class="hero__column">
            <p class="hero__description">{{ .description }}</p>
        </div>
        <div class="hero__column">
            <span class="hero__graphic">&nbsp;</span>
        </div>
    </div>
    <div class="hero__row">
        <a class="hero__button" href="{{ relref .ctx .button.link }}">{{ .button.title }}</a>
    </div>
    <div class="hero__row">
        <span class="hero__graphic">&nbsp;</span>
    </div>
    <div class="hero__row">
        <img class="hero__image" src="{{ .image.src.default | relURL }}" srcset="{{ .image.src.default | relURL }} 1x, {{ .image.src.retina | relURL  }} 1.5x" alt="{{ .image.alt }}">
    </div>
</div>