<div class="hero">
    <div class="hero__row">
        <div class="hero__column">
            <span class="hero__graphic">&nbsp;</span>
        </div>
        <div class="hero__column">
            <h1 class="hero__title">{{ $.ctx.Page.Title }}</h1>
        </div>
        <div class="hero__column">&nbsp;</div>
    </div>
    <div class="hero__row">
        <div class="hero__column">&nbsp;</div>
        <div class="hero__column">
            <p class="hero__description">{{ $.ctx.Page.Description }}</p>
        </div>
        <div class="hero__column">
            <span class="hero__graphic">&nbsp;</span>
        </div>
    </div>
    <div class="hero__row">
        <a class="hero__button" href="{{ relref .ctx $.hero.button.link }}">{{ $.hero.button.title }}</a>
    </div>
    <div class="hero__row">
        <span class="hero__graphic">&nbsp;</span>
    </div>
    <div class="hero__row">
        {{ $image := $.ctx.Resources.GetMatch $.hero.image.src -}}
        {{- $image_default := $image.Resize "1134x" -}}
        {{- $image_retina := $image.Resize "2268x" -}}
        <img class="hero__image" src="{{ $image_default.RelPermalink }}" srcset="{{ $image_default.RelPermalink }} 1x, {{ $image_retina.RelPermalink }} 1.5x" alt="{{ $.hero.image.alt }}">
    </div>
</div>