<div class="numbers">
    <div class="numbers__item">
        <p class="numbers__count">203</p>
        <p class="numbers__description">{{ T "numbers_people"}}</p>
        <img src="{{ "/images/icon-numbers-people.svg" | relURL }}" alt="{{ T "icon_numbers_people"}}" class="numbers__icon">
    </div>
    <div class="numbers__item">
        <p class="numbers__count">78</p>
        <p class="numbers__description">{{ T "numbers_companies"}}</p>
        <img src="{{ "/images/icon-numbers-companies.svg" | relURL }}" alt="{{ T "icon_numbers_companies"}}" class="numbers__icon">
    </div>
    <div class="numbers__item">
        <p class="numbers__count">31</p>
        <p class="numbers__description">{{ T "numbers_jobs"}}</p>
        <img src="{{ "/images/icon-numbers-jobs.svg" | relURL }}" alt="{{ T "icon_numbers_jobs"}}" class="numbers__icon">
    </div>
    <div class="numbers__item">
        <p class="numbers__count">23</p>
        <p class="numbers__description">{{ T "numbers_education"}}</p>
        <img src="{{ "/images/icon-numbers-education.svg" | relURL }}" alt="{{ T "icon_numbers_education"}}" class="numbers__icon">
    </div>
    <div class="numbers__item">
        <p class="numbers__count">12</p>
        <p class="numbers__description">{{ T "numbers_investors"}}</p>
        <img src="{{ "/images/icon-numbers-investors.svg" | relURL }}" alt="{{ T "icon_numbers_investors"}}" class="numbers__icon">
    </div>
    <div class="numbers__item">
        <p class="numbers__count">47</p>
        <p class="numbers__description">{{ T "numbers_workspaces"}}</p>
        <img src="{{ "/images/icon-numbers-workspaces.svg" | relURL }}" alt="{{ T "icon_numbers_workspaces"}}" class="numbers__icon">
    </div>
</div>