<div class="page-header">
    <div class="page-header__side">&nbsp;</div>
    <div class="page-header__main">
        <div class="page-header__section">
            <h1 class="page-header__title">{{ $.page_header.title }}</h1>
            {{ if $.page_header.description -}}
            <p class="page-header__description">{{ $.page_header.description }}</p>
            {{- end }}
        </div>
        <div class="page-header__section">
            <div class="page-header__pattern">&nbsp;</div>
            {{ if (isset $.page_header "call_to_action") -}}
            {{ partial "call-to-action" (dict "call_to_action" $.page_header.call_to_action "ctx" $.ctx) }}
            {{- end }}
        </div>
    </div>
    <div class="page-header__side">
        <div class="page-header__pattern">&nbsp;</div>
    </div>
</div>