<nav class="pagination" aria-label="{{ T "aria_pagination"}}">
    <a class="pagination__previous" href="#"><span class="btn__icon"></span>{{ T "pagination_previous" }}</a>
    <a class="pagination__page-number pagination__page-number--selected" href="#">1</a>
    <a class="pagination__page-number" href="#">2</a>
    <a class="pagination__page-number" href="#">3</a>
    <a class="pagination__page-number" href="#">4</a>
    <a class="pagination__page-number" href="#">5</a>
    <a class="pagination__next" href="#">{{ T "pagination_next" }}<span class="btn__icon"></span></a>
</nav>